<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DM News</title>
  <script
    src="https://kit.fontawesome.com/4127568f0b.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="../../public/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <header>
    <div class="center">
      <div class="logo">
        <h1><a href="/"><span style="font-weight: lighter">DM</span>News</a></h1>
      </div>
      <div class="form-busca">
        <form action="/">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input name="busca" type="text" placeholder="Buscar..." />
        </form>
      </div>
    </div>
  </header>
</body>
