<html lang="pt-br">

    <%- include('./partials/header.html') %>

    <section class="outras-noticias">
      <div class="title-outras-noticias">
          <h2>Busca:</h2>
          <br>
          <div class="center">

            <div style="width: 100%;" class="mais-lidas">
              <h3>33 Resultados</h3>
              <div class="mais-lidas-noticias">

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/universeMap.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Universo</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/universo">Ler mais</a>
                  </div>
                </div>

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/explorer.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Exploração</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/exploracao">Ler mais</a>
                  </div>
                </div>

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/Economic.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Economia</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/economia">Ler mais</a>
                  </div>
                </div>

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/moreNews.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Mais Noticias</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/mais-noticias">Ler mais</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
    </section>

    <%- include('./partials/footer.html') %>
  </body>
</html>
