<html lang="pt-br">

    <%- include('./partials/header.html') %>

    <section class="noticia-destaque">
        <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <h2>Mineração no Espaço</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequuntur nisi, quaerat voluptates voluptate mollitia, alias deleniti sint, eum ex ea adipisci nostrum totam rerum quisquam. Quam quos dolore et!</p>
                    </div>
                    <img src="../public/images/universeLandscape.webp" alt="Paisagem no espaço com uma visão de galáxias distantes, planetas e nebulosas">
                </div>
        </div>
    </section>

    <section class="outras-noticias">
      <div class="title-outras-noticias">
          <h2>Últimas Notícias</h2>
          <br>
          <div class="center">
            <div class="ultimas">
              <div class="box-ultima-single">
                <img src="../public/images/rocketLaunch.webp" alt="lançamento de foguete">
                <div class="conteudo-noticia-single">
                  <h3>Universo e Exploração</h3>
                  <h2>O Primeiro Lançamento de Foguetes mineradores no espaço</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi natus possimus, nemo tempore aut facilis dolores velit placeat ab, sunt cum amet, nesciunt minima ipsam? Minus quia quod eum magnam.</p>  
                  <a href="/primeiro-foguete">Ler mais</a>
                </div>
              </div>
              <div class="box-ultima-single">
                <img src="../public/images/firstmine.webp" alt="lançamento de foguete">
                <div class="conteudo-noticia-single">
                  <h3>Universo e Economia</h3>
                  <h2>Foguete pousa em asteroide para mineração</h2>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi natus possimus, nemo tempore aut facilis dolores velit placeat ab, sunt cum amet, nesciunt minima ipsam? Minus quia quod eum magnam.</p>  
                  <a href="/mineracao-inicial">Ler mais</a>
                </div>
              </div>
            </div>
            <div class="mais-lidas">
              <h3>Mais Lidas</h3>
              <div class="mais-lidas-noticias">

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/universeMap.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Universo</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/universo">Ler mais</a>
                  </div>
                </div>

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/explorer.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Exploração</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/exploracao">Ler mais</a>
                  </div>
                </div>

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/Economic.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Economia</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/economia">Ler mais</a>
                  </div>
                </div>

                <div class="mais-lidas-noticias-single">
                  <img src="../public/images/moreNews.webp" alt="mapa-universo">
                  <div class="texto-mais-lida-single">
                    <h4>Mais Noticias</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    <a href="/mais-noticias">Ler mais</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
    </section>

    <%- include('./partials/footer.html') %>
  </body>
</html>
