<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./partials/header.html') %>
  <body>
    <section class="noticia">
      <div class="center">
        <div class="noticia-single">
          <h2>Dez Fatos Curiosos sobre o Futuro</h2>
          <div class="autor-nome">
            <span>Por Demian Senna</span>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio,
            officiis! Non, cupiditate? Obcaecati, maxime unde. Nemo deserunt
            quia maiores, autem ullam quod odio libero doloremque in adipisci
            corporis nesciunt laboriosam. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Pariatur non aliquid modi? Voluptas repellendus
            nulla vitae ab quos vero, maxime consequuntur quas libero, delectus
            quia cum ratione consequatur facilis vel! Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Asperiores, eveniet! Sed voluptates ea
            voluptatem suscipit, excepturi repudiandae sit reprehenderit dolor,
            necessitatibus cupiditate, dolorum vitae maiores tempora natus sint
            similique facilis.
          </p>
          <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit?</h3>
          <p>
            Accusantium quaerat asperiores sunt hic omnis, illum praesentium
            corporis. Minima corporis saepe accusamus exercitationem iusto sit
            dolores alias, ratione iste est. Quisquam. Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Eaque animi inventore esse
            officia nemo ullam, cum praesentium amet eos tenetur? Optio
            voluptatem non sunt tenetur doloremque enim earum asperiores
            voluptates? Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Veniam quam libero amet repellendus qui, voluptas eum? Vitae
            doloribus, inventore accusantium est cupiditate explicabo,
            voluptatem aliquam cumque mollitia perspiciatis harum non! Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quas
            libero iure deserunt omnis at? Harum quos sint qui et dicta!
            Reprehenderit voluptatum eveniet quod corporis? Dolor debitis
            praesentium enim. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Error numquam illum placeat ipsa minima sint temporibus
            voluptatibus nemo voluptas non dignissimos, tempore earum
            repellendus mollitia accusantium optio eligendi! Ipsam, quae. Lorem
            ipsum dolor sit, amet consectetur adipisicing elit. Est magnam porro
            assumenda at dolorum illo! Doloremque quisquam corrupti at,
            doloribus modi magnam laboriosam id sint recusandae amet natus
            pariatur ducimus! Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Asperiores totam id nobis commodi numquam
            doloremque sequi placeat sunt, mollitia minima ipsa voluptate amet
            reprehenderit quam recusandae, vero provident tenetur doloribus.
          </p>
        </div>
        <div class="mais-lidas">
          <h3>Mais Lidas</h3>
          <div class="mais-lidas-noticias">
            <div class="mais-lidas-noticias-single">
              <img
                src="../public/images/universeMap.webp"
                alt="mapa-universo"
              />
              <div class="texto-mais-lida-single">
                <h4>Universo</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="/universo">Ler mais</a>
              </div>
            </div>

            <div class="mais-lidas-noticias-single">
              <img src="../public/images/explorer.webp" alt="mapa-universo" />
              <div class="texto-mais-lida-single">
                <h4>Exploração</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="/exploracao">Ler mais</a>
              </div>
            </div>

            <div class="mais-lidas-noticias-single">
              <img src="../public/images/Economic.webp" alt="mapa-universo" />
              <div class="texto-mais-lida-single">
                <h4>Economia</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="/economia">Ler mais</a>
              </div>
            </div>

            <div class="mais-lidas-noticias-single">
              <img src="../public/images/moreNews.webp" alt="mapa-universo" />
              <div class="texto-mais-lida-single">
                <h4>Mais Noticias</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <a href="/mais-noticias">Ler mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer.html') %>
  </body>
</html>
